.title{
  color: white;
  background-color: teal;
  padding: 12px;
 border-radius: 6px;
 text-align: center;
 font-size: 24px;
}
.subtitle{
  color: darkslategray;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}